{% extends 'accounts/layout.html' %}

{% block title %}
  تنظیمات - تغییر رمز عبور
{% endblock %}

{% block inner %}
  <div class="col-12 col-md-6 d-flex flex-column mx-auto justify-content-center">
    <div class="">
      <form action="" method="POST">
        <div class="card-body">
          <h2 class="mb-4">تغییر رمز عبور</h2>
          {% csrf_token %}
          <div class="space-y">{{ password_form.as_p }}</div>
        </div>
        <div class="card-footer bg-transparent mt-auto">
          <div class="btn-list justify-content-center">
            <button type="submit" class="btn btn-primary btn-2 w-25">تغییر</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
