{% extends 'accounts/layout.html' %}

{% load static %}

{% block title %}
  نشست های فعال
{% endblock %}

{% block inner %}
  <div class="col-12 col-md-9 d-flex flex-column">
    <div class="card-body">
      <h2 class="mb-4">نشست های فعال</h2>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-table table-responsive">
              <table class="table table-vcenter">
                <thead>
                  <tr>
                    <th>سیستم</th>
                    <th>IP</th>
                    <th>تاریخ لاگین</th>
                    <th>عملیات</th>
                  </tr>
                </thead>
                <tbody>
                  {% for session in sessions %}
                    <tr>
                      <td class="d-flex align-items-center">
                        {% comment %} <span class="avatar avatar-sm" style="background-image: url(./static/avatars/000m.jpg)"></span> {% endcomment %}
                        <div class="mx-1">{{ session.browser }} ({{ session.device }})</div>
                      </td>
                      <td class="">{{ session.ip }}</td>
                      <td class="text-nowrap text-secondary">{{ session.last_login_at }}</td>
                      <td class="">
                        {% if session.is_current %}
                          <span class="btn btn-sm btn-outline btn-success">نشست فعلی</span>
                        {% else %}
                          <form action="" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-outline btn-danger">خاتمه نشست</button>
                          </form>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
