{% extends 'accounts/layout.html' %}

{% load core_tags %} {% load static %}

{% block title %}
  تنظیمات
{% endblock %}

{% block styles %}
  <link href="{% static 'plugins/css/ace.min.css' %}" rel="stylesheet" />
  <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block scripts %}
  <script>
    document.getElementById('avatarInput').addEventListener('change', function (e) {
      const file = e.target.files[0]
    
      if (file) {
        const reader = new FileReader()
    
        reader.onload = function (event) {
          const avatar = document.getElementById('avatar')
          const preview = document.getElementById('avatarPreview')
          preview.src = event.target.result
          preview.style.display = 'block'
          avatar.classList.add('d-none')
          preview.classList.remove('d-none')
        }
    
        reader.readAsDataURL(file)
      }
    })
  </script>

  <script src="{% static 'plugins/js/ace.js' %}"></script>
  <script src="{% static 'plugins/js/mode-markdown.js' %}"></script>
  <script src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
  <script src="{% static 'plugins/js/theme-github.js' %}"></script>
  <script src="{% static 'plugins/js/highlight.min.js' %}"></script>
  <script src="{% static 'plugins/js/emojis.min.js' %}"></script>
  <script src="{% static 'martor/js/martor.bootstrap.min.js' %}"></script>
{% endblock %}

{% block inner %}
  <div class="col-12 col-md-9 d-flex flex-column">
    <form action="{% url 'apps.accounts:dashboard_setting' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="card-body">
        <h2 class="mb-4">تنظیمات حساب کاربری</h2>
        <h3 class="card-title">پروفایل</h3>

        <div class="row align-items-center">
          <div class="col-auto">
            {% if user.has_avatar %}
              <span class="avatar avatar-xl" style="background-image: url({{ user.get_avatar_url }})" id="avatar"></span>
            {% else %}
              <span class="avatar avatar-xl" style="background-image: url({% static 'images/default_man_avatar.jpg' %})" id="avatar"></span>
            {% endif %}
            <img src="" class="avatar avatar-xl d-none" id="avatarPreview" />
          </div>
          <div class="col-auto">
            <label for="avatarInput" class="btn btn-1">تغییر آواتار</label>
            <input type="file" id="avatarInput" name="avatar" accept="image/*" class="d-none" />
            <small id="avatarName" class="d-block text-muted mt-1"></small>
          </div>
        </div>

        <div class="row g-3 mt-3">
          <div class="col-md">
            <div class="form-label">نام</div>
            <input type="text" class="form-control" name="first_name" id="first_name" required value="{{ user.first_name|default:'' }}" />
          </div>
          <div class="col-md">
            <div class="form-label">نام خانوادگی</div>
            <input type="text" class="form-control" name="last_name" id="last_name" required value="{{ user.last_name|default:'' }}" />
          </div>
          <div class="col-md">
            <div class="form-label">نام کاربری</div>
            <input type="text" class="form-control" name="username" id="username" required value="{{ user.username }}" />
          </div>
        </div>

        <div class="row g-3 my-3">
          <div class="col-md d-flex justify-content-between">
            <div class="w-100">
              <div class="form-label">ایمیل</div>
              <input type="email" class="form-control" name="email" id="email" required value="{{ user.email|default:'' }}" {{ disabled_attributes }} />
            </div>
            <div class="text-center align-self-center mt-auto mx-2">
              {% if user.is_email_verified %}
                <button type="button" class="btn btn-1 text-success" disable>تایید شده</button>
              {% else %}
                <a href="#" class="btn btn-1">ارسال لینک تایید</a>
              {% endif %}
            </div>
          </div>
          <div class="col-md d-flex justify-content-between">
            <div class="w-100">
              <div class="form-label">موبایل</div>
              <input type="text" class="form-control" name="mobile" id="mobile" required value="{{ user.mobile|default:'' }}" {{ disabled_attributes }} />
            </div>
            <div class="text-center align-self-center mt-auto mx-2">
              {% if user.is_mobile_verified %}
                <button type="button" class="btn btn-1 text-success" disable>تایید شده</button>
              {% else %}
                <a href="#" class="btn btn-1">ارسال رمز تایید</a>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="row g-3 mt-3">
          <div class="col-md">
            <div class="form-label">تیتر تخصص یا شغلی</div>
            <input type="text" class="form-control" name="short_bio" id="short_bio" required value="{{ user.profile.short_bio|default:'' }}" placeholder="در حد ۱۰۰ کاراکتر تیتر شغل یا تخصص " />
          </div>
          <div class="col-md">
            <div class="form-label">تاریخ تولد</div>
            <div class="row">
              <div class="col-4">
                <select class="form-select" name="birthday_day" id="birthday_day" required value="{{ user.profile.birthday_day }}">
                  <option value="0">روز تولد</option>
                  {% for day in 'x'|rjust:'31' %}
                    <option value="{{ forloop.counter }}" {{ forloop.counter|selected:user.profile.birthday_day }}>{{ forloop.counter }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-4">
                <select class="form-select" name="birthday_month" id="birthday_month" required value="{{ user.profile.birthday_month }}">
                  <option value="0">ماه تولد</option>
                  <option value="1" {{ 1|selected:user.profile.birthday_month }}>فروردین</option>
                  <option value="2" {{ 2|selected:user.profile.birthday_month }}>اردیبهش</option>
                  <option value="3" {{ 3|selected:user.profile.birthday_month }}>خرداد</option>
                  <option value="4" {{ 4|selected:user.profile.birthday_month }}>تیر</option>
                  <option value="5" {{ 5|selected:user.profile.birthday_month }}>مرداد</option>
                  <option value="6" {{ 6|selected:user.profile.birthday_month }}>شهریور</option>
                  <option value="7" {{ 7|selected:user.profile.birthday_month }}>مهر</option>
                  <option value="8" {{ 8|selected:user.profile.birthday_month }}>آبان</option>
                  <option value="9" {{ 9|selected:user.profile.birthday_month }}>آذر</option>
                  <option value="10" {{ 10|selected:user.profile.birthday_month }}>دی</option>
                  <option value="11" {{ 11|selected:user.profile.birthday_month }}>بهمن</option>
                  <option value="12" {{ 12|selected:user.profile.birthday_month }}>اسفند</option>
                </select>
              </div>
              <div class="col-4">
                <input type="text" class="form-control" name="birthday_year" id="birthday_year" required value="{{ user.profile.birthday_year|default:'' }}" placeholder="1380" minlength="4" maxlength="4" />
              </div>
            </div>
          </div>
        </div>

        <div class="row g-3 my-3">
          <div class="col-md">
            <div class="form-label">بیوگرافی</div>
            <textarea class="form-control" name="bio" id="bio" required rows="6" placeholder="مختصری درباره خود بنویسید...">{{ user.profile.bio|default:'' }}</textarea>
          </div>
        </div>

        {% comment %} <h3 class="card-title mt-2">شبکه های اجتماعی</h3>
        <div class="row g-3 mt-3">
          <div class="col-md">
            <div class="form-label">وب سایت</div>
            <input type="text" class="form-control" name="first_name" id="first_name" required value="{{ user.first_name }}" />
          </div>
          <div class="col-md">
            <div class="form-label">گیت هاب</div>
            <input type="text" class="form-control" name="last_name" id="last_name" required value="{{ user.last_name }}" />
          </div>
        </div> {% endcomment %}
      </div>

      <div class="card-footer bg-transparent mt-auto">
        <div class="btn-list justify-content-center">
          <button type="submit" class="btn btn-primary btn-2 w-25">تغییر</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
