@import url("../fonts/vazirmatn/fontface.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Vazirmatn;
  font-size: 1rem;
}

.post-card-text {
  font-size: 0.8rem;
}

.post-detail-info {
  display: flex;
  justify-content: center;
}

.user-profile-banner {
  max-height: 300px;
}

.fs-8 {
  font-size: 0.8rem !important;
}

.fs-7 {
  font-size: 0.7rem !important;
}

.fs-6 {
  font-size: 0.6rem !important;
}

.fs-5 {
  font-size: 0.5rem !important;
}
