@import url("../fonts/vazirmatn/fontface.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Vazirmatn;
  font-size: 1rem;
}

.post-card-text {
  font-size: 0.8rem;
}

.post-detail-info {
  display: flex;
  justify-content: center;
}
