{% extends 'base.html' %}
{% load static %}

{% block title %}
  وبلاگ
{% endblock %}

{% block content %}
  <div class="blog-area ptb-100">
    <div class="container">
      {{ post_count.count }}
      <div class="row align-items-center justify-content-center">        
        {% for post in posts %}
          <div class="col-xl-4 col-md-6">
            <div class="blog-single-item style-two">
              <a href="{{ post.get_absolute_url }}" class="d-block blog-img"><img src="{{ post.thumbnail.url }}" alt="blog" /></a>
              <ul class="ps-0 list-unstyled date">
                <li>
                  <span>{{ post.create_at }}</span>
                </li>
                <li>{{ post.category.name }}</li>
              </ul>
              <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
            </div>
          </div>
        {% empty %}
        هنور مقاله ای ثبت نشده است
        {% endfor %}

        {% comment %} <div class="col-md-12">
          <div class="pagination">
            <a href="blog.html" class="next page-count hover-style">
              <div class="inner-border">
                <i class="icofont-simple-left"></i>
              </div>
            </a><a href="blog.html" class="page-count current hover-style" aria-current="page"><div class="inner-border">1</div></a><a href="blog.html" class="page-count hover-style"><div class="inner-border">2</div></a><a href="blog.html" class="page-count hover-style"><div class="inner-border">3</div></a><a href="blog.html" class="page-count hover-style"><div class="inner-border">4</div></a><a href="blog.html" class="next page-count hover-style">
              <div class="inner-border">
                <i class="icofont-simple-right"></i>
              </div>
            </a>
          </div>
        </div> {% endcomment %}
      </div>
    </div>
  </div>
{% endblock %}
