{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="blog-details-area pt-100">
    <div class="container">
      <div class="blog-details-content">
        <div class="blog-details-img">
          <img src="{{ post.thumbnail.url }}" alt="{{ post.title }}" width="300" height="300"/>
        </div>
        <h2>{{ post.title }}</h2>
        <p>سفر ما به یک عکاسی مد واقعی را دنبال کنید. از جستجوی مکان ها گرفته تا گرفتن عکس عالی، شاهد برنامه ریزی و اجرای دقیقی باشید که برای ایجاد تصاویر متقاعدکننده انجام می شود. بخش تولید صنعت مد را کاوش کنید. از فناوری‌های پیشرفته گرفته تا صنایع دستی ماهر، درک کنید که چگونه پارچه‌ها در مقیاس بزرگ به لباس‌های نفیس تبدیل می‌شوند. هیجان و هرج و مرج تمرین نمایش مد را تجربه کنید.</p>
        <div class="mb-60"></div>
        <div class="d-flex justify-content-between align-items-center flex-wrap gap-3 tags-share">
          <ul class="ps-0 mb-0 list-unstyled d-flex flex-wrap gap-2 tags-list align-items-center">
            <li>
              <span>برچسب ها:</span>
            </li>
            <li>
              <a href="blog.html">طرح</a>
            </li>
          </ul>
          <ul class="ps-0 mb-0 list-unstyled d-flex social-list align-items-center gap-3">
            <li>
              <span>اشتراک گذاری:</span>
            </li>
            <li>
              <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            </li>
            <li>
              <a href="https://www.pinterest.com/" target="_blank"><i class="fa-brands fa-pinterest"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="post-a-comment-area pb-100">
    <div class="container">
      <div class="section-title text-start ms-0">
        <h2>ارسال یک نظر</h2>
      </div>
      <form class="post-a-comment">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="اسم شما *" />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="ایمیل شما *" />
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <textarea cols="30" rows="6" class="form-control" placeholder="پیام *"></textarea>
            </div>
          </div>
          <div class="col-lg-12">
            <button type="submit" class="circle-btn d-inline-block text-decoration-none bg-transparent d-flex align-items-center"><span>پیام فرستادن</span><i class="fa-solid fa-arrow-up-right"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
