{% extends 'base.html' %}

{% block title %}
  وبلاگ
{% endblock %}

{% block content %}
  <div class="page-body">
    <div class="container-xl">
      <div class="row g-4">
        <div class="col-md-3">
          <form action="./" method="get" autocomplete="off" novalidate>
            <div class="subheader mb-2">دسته بندی ها</div>
            <div class="mb-3">
              {% for category in categories %}
                <div class="d-flex justify-content-between">
                  <label class="form-check" for="{{ category.id }}">
                    <input type="checkbox" class="form-check-input" name="cat[]" value="{{ category.id }}" id="{{ category.id }}" />
                    <span class="form-check-label">{{ category.name }}</span>
                  </label>
                  <p>{{ category.post_count }}</p>
                </div>
              {% endfor %}
            </div>
            <div class="subheader mb-2">Shipping</div>
            <div>
              <select name="" class="form-select">
                <option>United Kingdom</option>
                <option>USA</option>
                <option>Germany</option>
                <option>Poland</option>
                <option>Other…</option>
              </select>
            </div>
            <div class="mt-5">
              <button class="btn btn-primary btn-4 w-100">اعلام فیلتر ها</button>
              <a href="#" class="btn btn-link btn-3 w-100">ریست فیلتر ها</a>
            </div>
          </form>
        </div>

        <div class="col-md-9">
          <div class="row row-cards">
            {% for post in posts %}
              <div class="col-sm-6 col-lg-4">
                <div class="card card-sm">
                  <a href="{{ post.get_absolute_url }}" class="d-block"><img src="{{ post.thumbnail.url }}" class="card-img-top" alt="{{ post.title }}" /></a>
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <span class="avatar avatar-2 me-3 rounded">SA</span>
                      <div>
                        <div>
                          <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                        </div>
                        <div class="text-secondary">{{ post.created_at }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% empty %}
              <div class="page-center">
                <div class="empty">
                  <div class="empty-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <circle cx="12" cy="12" r="9" />
                      <line x1="9" y1="10" x2="9.01" y2="10" />
                      <line x1="15" y1="10" x2="15.01" y2="10" />
                      <path d="M9.5 15.25a3.5 3.5 0 0 1 5 0" />
                    </svg>
                  </div>
                  <p class="empty-title">مقاله ای یافت نشد!</p>
                  <p class="empty-subtitle text-secondary">هنوز مقاله ای ثبت نشده است.</p>
                  <div class="empty-action">
                    <a href="#" class="btn btn-primary">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <circle cx="10" cy="10" r="7" />
                        <line x1="21" y1="21" x2="15" y2="15" />
                      </svg>Search again
                    </a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="d-flex mx-auto text-center justify-content-center mt-5">
            {% include 'partials/_pagination.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
