{% extends 'base.html' %}

{% block title %}
تغییر رمز عبور
{% endblock %}


{% block content %}
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card shadow">
          <div class="card-body">
            <h4 class="text-center mb-4">تغییر رمز عبور</h4>
            <p class="text-muted text-center">کد ارسال شده به {{ mobile }} را وارد کنید</p>

            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
              {% endfor %}
            {% endif %}

            <form method="post">
              {% csrf_token %}
              <input type="hidden" name="mobile" value="{{mobile}}" />
              <input type="hidden" name="reqid" value="{{reqid}}" />
              <div class="mb-3">
                <label>کد یکبار مصرف</label>
                {{ form.code }}
              </div>

              <div class="mb-3">
                <label>رمز عبور جدید</label>
                {{ form.password }}
              </div>

              <div class="mb-3">
                <label>تکرار رمز عبور</label>
                {{ form.password_confirmation }}
              </div>

              <button type="submit" class="btn btn-primary btn-lg w-100">تغییر رمز</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
