{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
تغییر رمز عبور حساب کاربری
{% endblock title %}


{% block content %}
  <div class="sign-in-area ptb-100">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-8">
          <div class="authentication-form">
            <h3>تغییر رمز عبور حساب کاربری</h3>
            <form method="POST">
              {% csrf_token %}
              {{ form|crispy }}
              {% comment %} <div class="form-group mb-4">
                <input type="email" class="form-control" placeholder="پست الکترونیک" />
              </div>
              <div class="form-group mb-4">
                <div class="password-wrapper">
                  <input type="password" class="form-control" id="password" /><i class="fa fa-eye-slash password-toggle-icon" aria-hidden="true"></i>
                </div>
              </div> {% endcomment %}
              <div class="form-group mb-4">
                <a href="sign-in.html" class="forgot">رمز عبور خود را فراموش کرده اید؟</a>
              </div>
              <div class="form-group mb-4">
                <button type="submit" value='submit' class="main-btn">ورود</button>
              </div>
              <p class="mb-4">یا با یک حساب کاربری ثبت نام کنید</p>
              <ul class="social-link ps-0 mb-0 list-unstyled">
                <li>
                  <a href="https://www.apple.com/" target="_blank"><i class="fa-brands fa-apple"></i></a>
                </li>
                <li>
                  <a href="https://www.github.com/" target="_blank"><i class="fa-brands fa-github"></i></a>
                </li>
                <li>
                  <a href="https://www.google.com/" target="_blank"><i class="fa-brands fa-google"></i></a>
                </li>
                <li>
                  <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="https://www.windows.com/" target="_blank"><i class="fa-brands fa-windows"></i></a>
                </li>
              </ul>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}