APP_ENV="development"
DEBUG=True
SECRET_KEY="your-secret-key"
APP_DOMAIN="your-app-domain.com"
APP_NAME="Skeleton"
MAINTENANCE_MODE=False
ZARINPAL_SANDBOX=True
KAVENEGAR_API_KEY="131231233"
KAVENEGAR_SENDER="your-kavenegar-sender"
APP_DESCRIPTION="Your app description"
PWA_APP_DEBUG_MODE=True
MATOMO_URL="https://your-matomo-url.com"
MATOMO_SITE_ID="your-matomo-site-id"
GITHUB_CLIENT_ID="your-github-client-id"
GITHUB_CLIENT_SECRET="your-github-client-secret"
GITHUB_REDIRECT_URI="your-github-redirect-uri"

ARCHAPTCHA_SITE_KEY="your-archaptcha-site-key"
ARCHAPTCHA_SECRET_KEY="your-archaptcha-secret-key"

DB_HOST="localhost"
DB_PORT=5432
DB_NAME="skeleton"
DB_USERNAME="postgres"
DB_PASSWORD=""

AWS_ACCESS_KEY_ID="your-aws-access-key-id
AWS_SECRET_ACCESS_KEY="your-aws-secret-access
AWS_STORAGE_BUCKET_NAME="your-aws-storage-bucket-name"
AWS_S3_ENDPOINT_URL="your-aws-s3-endpoint-url"
AWS_s3_REGION_NAME="your-aws-s3-region-name"

MAIL_PORT=556
MAIL_USER="your-mail-user"
MAIL_PASSWORD="your-mail-password"

REDIS_URL="redis://localhost:6379/0"

SELECT2_CACHE_URL="redis://localhost:6379/1"

CELERY_BROKER_URL="redis://localhost:6379/2"