{% extends "base.html" %}

{% block content %}
    <div class="faq-area ptb-100">
        <div class="container">
            <div class="accordion accordion-content" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><span class="d-sm-flex align-items-center"><span class="flex-shrink-0"><span class="count">01</span></span><span class="flex-grow-1 mt-3 mt-sm-0"><span>تفاوت بین آژانس خلاق و آژانس بازاریابی چیست؟</span></span></span></button></h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>موفقیت شما اولویت ماست ما دستاوردهای خود را با داستان های موفقیت مشتریانمان می سنجیم. از طریق ارتباط بی‌وقفه، توجه دقیق به جزئیات، و اشتیاق به کمال، تلاش می‌کنیم از انتظارات شما فراتر برویم.</p>
                </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><span class="d-sm-flex align-items-center"><span class="flex-shrink-0"><span class="count">02</span></span><span class="flex-grow-1 mt-3 mt-sm-0"><span>تفاوت بین رسانه و آژانس خلاق چیست؟</span></span></span></button></h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>موفقیت شما اولویت ماست ما دستاوردهای خود را با داستان های موفقیت مشتریانمان می سنجیم. از طریق ارتباط بی‌وقفه، توجه دقیق به جزئیات، و اشتیاق به کمال، تلاش می‌کنیم از انتظارات شما فراتر برویم.</p>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="footer-area pt-100 pb-75 bg-color-030303">
    <div class="container">
        <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="footer-single-item style-three">
            <a href="index.html" class="logo"><img src="assets/images/white-logo.svg" alt="white-logo" /></a><p>در سفری به ما بپیوندید که در آن خلاقیت حد و مرزی نمی شناسد و نوآوری رشد می کند. امروز با [Stir] تماس بگیرید،</p>
            <ul class="social-link ps-0 mb-0 list-unstyled">
                <li>
                <a href="https://facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                </li>
                <li>
                <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                </li>
                <li>
                <a href="https://instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                </li>
                <li>
                <a href="https://linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                </li>
            </ul>
            </div>
        </div>
        </div>
    </div>
    </div>
{% endblock content %}


